@page "/"

<PageTitle>Index</PageTitle>

<h1 @onclick="DoSomething">Click me and look at Chrome console</h1>


@code
{
    private void DoSomething()
    {
        var instance = new SomeClass();
        Console.WriteLine(instance.PropertyA);
        Console.WriteLine(instance.PropertyB);
    }

    public partial class SomeClass
    {
        public string PropertyA { get; set; } = string.Empty;
    }

    public partial class SomeClass
    {
        public string PropertyB { get; set; } = string.Empty;
    }
}
